.logoutButton {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 120px;
  padding: 5px;
  font-weight: bold;
  border: 2px solid steelblue;
  border-radius: 4px;
  color: steelblue;
  background-color: WHITE;
  transition: all 0.3s;
}

.logoutButton:hover {
  color: #fff;
  background: #27acd9;
}
